{#
/**
 * Easy Address Field plugin for Craft CMS
 *
 * EasyAddressFieldFieldType HTML
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2017 Studio Espresso
 * @link      https://studioespresso.co
 * @package   EasyAddressField
 * @since     1.0.0-alpha
 */
#}

{% import "_includes/forms" as forms %}

<div class="field">
    <div class="heading">

        <table class="editable">
            <thead>
            <tr>
                <th class="header" scope="col">{{ "Enable"|t }}</th>
                <th class="header" scope="col">{{ "Field"|t }}</th>
            </tr>
            </thead>
            <tbody class="layout-table-rows">
                <tr>
                    <td class="layout-table-enable"> <input type="checkbox" id="fields[name]" name="fields[name]" value="1" /></td>
                    <td class="layout-table-label"> <label for="fields[name]"> {{ 'Name'|t}}</label></td>
                </tr>
            </tbody>
        </table>


        {{ forms.lightswitchField({
            label:        "Get coordinates for addresses"|t,
            id:           'geoCode',
            name:         'geoCode',
            on:           field.geoCode,
        }) }}

        {{ forms.lightswitchField({
            label:        "Show coordinates?"|t,
            id:           'showCoordinates',
            name:         'showCoordinates',
            on:           field.showCoordinates,
        }) }}

    </div>
</div>