{#
/**
 * Easy Address Field plugin for Craft CMS
 *
 * EasyAddressFieldFieldType HTML
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2017 Studio Espresso
 * @link      https://studioespresso.co
 * @package   EasyAddressField
 * @since     1.0.0-alpha
 */
#}

{% import "_includes/forms" as forms %}

<div class="field">
    <div class="heading">
        <table class="editable">
            <thead>
            <tr>
                <th class="header" scope="col">{{ "Enable"|t }}</th>
                <th class="header" scope="col">{{ "Field"|t }}</th>
            </tr>
            </thead>
            <tbody class="layout-table-rows">
                <tr>
                    <td class="layout-table-enable"> <input type="checkbox" id="enabledFields[name]" name="enabledFields[name]" value="name" {% if field.enabledFields.name %}checked{% endif %}/></td>
                    <td class="layout-table-label"> <label for="enabledFields[name]"> {{ 'Name'|t}}</label></td>
                </tr>
                <tr>
                    <td class="layout-table-enable"> <input type="checkbox" id="enabledFields[street2]" name="enabledFields[street2]" value="street2" {% if field.enabledFields.street2 %}checked{% endif %}/></td>
                    <td class="layout-table-label"> <label for="enabledFields[street2]"> {{ 'Street 2'|t}}</label></td>
                </tr>
                <tr>
                    <td class="layout-table-enable"> <input type="checkbox" id="enabledFields[state]" name="enabledFields[state]" value="state" {% if field.enabledFields.state %}checked{% endif %}/></td>
                    <td class="layout-table-label"> <label for="enabledFields[state]"> {{ 'State'|t}}</label></td>
                </tr>
                <tr>
                    <td class="layout-table-enable"> <input type="checkbox" id="enabledFields[country]" name="enabledFields[country]" value="country" {% if field.enabledFields.country %}checked{% endif %}/></td>
                    <td class="layout-table-label"> <label for="enabledFields[country]"> {{ 'Country'|t}}</label></td>
                </tr>
            </tbody>
        </table>

        {{ forms.selectField({
            label:      "Default country"|t,
            id:         "defaultCountry",
            name:       "defaultCountry",
            options:    countries,
            value:      field.defaultCountry
        }) }}


        {{ forms.lightswitchField({
            label:        "Get coordinates for addresses"|t,
            id:           'geoCode',
            name:         'geoCode',
            on:           field.geoCode,
        }) }}

        {{ forms.lightswitchField({
            label:        "Show coordinates?"|t,
            id:           'showCoordinates',
            name:         'showCoordinates',
            on:           field.showCoordinates,
        }) }}

    </div>
</div>