{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Google API Key'|t,
    id: 'googleApiKey',
    name: 'googleApiKey',
    value: settings['googleApiKey'],
    errors: settings.getErrors('googleApiKey')
}) }}

<hr>
<h2>{{ 'Look & feel'|t }}</h2>
<div class="field" id="settings-defaultMapStyle-field">
    <div class="heading">
        <label id="settings-defaultMapStyle-label" for="settings-defaultMapStyle">{{ 'Map theme'|t }}</label>
    </div>
    {% for theme, label in styleOptions %}
        <label>
            <input type="radio" id="defaultMapTheme" name="defaultMapTheme" value="{{ theme }}"
                   {% if theme == settings.defaultMapTheme %}checked{% endif %}/>
                    <img src="{{ url }}/{{ theme }}.jpg" height="80" alt="{{ label }}">
        </label>
    {% endfor %}
</div>


{{ forms.textField({
    label: 'Custom marker icon'|t,
    instructions: 'This should be a public url to an image, not larger than 64 by 64 pixels.<br> (Google Maps does not support "https" links for custom markers, make sure the url you enter is "http")'|t,
    id: 'defaultMarkerIcon',
    name: 'defaultMarkerIcon',
    value: settings['defaultMarkerIcon'],
    errors: settings.getErrors('defaultMarkerIcon')
}) }}

{{ forms.colorField({
    label: 'Marker color',
    id: 'defaultMarkerColor',
    name: 'defaultMarkerColor',
    value: settings['defaultMarkerColor'] ? settings['defaultMarkerColor'] : '#E50000'})
}}
<style>
    label > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
    label > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
    }
    label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
        border:2px solid #da5a47;
    }
</style>